body {
  background: #eee;
}
* {
  margin: 8px;
  padding-bottom: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.card {
  width: 400px;
  background: #fff;
  margin: 30px auto;
  padding: 1px 1px;
  
}

.title {
  background: #e3f4ff;
  padding: 16px;
  font-size: 20px;
}

.content {
  background: #e3f4ff;
  padding: 8px;
  font-size: 15px;
  font-weight: 500;
}

.button-container {
  background: #e3f4ff;
  display:block;
  text-align: center;
  padding: 5px;
}

button {
  background: white;
  border: 1px solid #eee;
  display:block;
  text-align: center;
  padding: 8px 24px;
  margin: 0px auto;
}